body{
	background-image:url('green_cup.png');
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #555;
}


a {
	color: #3f4238;
	text-decoration: none;
	cursor: pointer;
}

#container{
	width: 1300px;
	margin:auto;
	height: 1200px;
	margin-top: 10px;
	padding-top: 20px;
}
.header {
	text-align: center;
	margin: 0px;
}

.header h1 {
	font-size: 45px;
	text-align: center;
	margin: 20px 0 10px 0px;
}

section {
	width: 850px;
	height:1700px;
	border:1px solid black;
	margin-left:50px;
	display: inline-block;
	float: left;
	background-color: white;
	border-radius: 30px;
	box-shadow: 0 0 20px 5px #1e1e1e;
}

.section{
	margin: 0 auto;
	padding-top: 25px;
	border-top: 1px solid #9ea58e;
	overflow: hidden;
	width: 837px;
}

.entry {
	padding: 15px 0;
	border-top: 1px solid #a2ac08;
}
.entry:first-child {
	padding: 0 0 15px 0;
	border: 0;}

	h2 {
		font-size: 27px;
	}

	h3 {
		font-size: 16px;
	}

	h4 {
		margin-top: 10px;
		font-size: 14px;
		color: #a6ad96;
	}

	h5 {
		float: right;
		font-size: 16px;
		color: #9ea58e;
	}

	p {
		line-height: 18px;
	}


	.details {
		margin-top: 20px;
	}

	/*resume titles---section left*/
	h2 {font-size:25px}

	.sectionLeft {
		float: left;
		width:200px;
		padding-left: 5px;
	}

	.sectionRight {
		float: left;
		width: 590px;
	}




	/*side bar with picture*/

	aside{
		width: 300px;
		height: 400px;
		border:1px solid black;
		float: right;
		margin-right: 20px;
		text-align: center;
		list-style: none;
		background-color:white;
		border-radius: 30px;
		box-shadow: 0 0 20px 5px #1e1e1e;
		/*ask how to make this scrollable*/
	}

	aside li {
		list-style:none;
	}

	aside img {

		width: 150px;
		height: 160px;
		margin: auto;
		display: block;
		padding-top: 40px;
		border-radius: 60px;
	}